.footr-line {
  background-color: #dfdfdf !important;
  margin-left:auto !important;
  margin-right: 30px !important;
  margin-top: 4px !important;
  max-width: 100% !important;
}

.footr-top1 {
  margin-top: -8.3rem;
}

.footr-top3 {
  margin-top: -6.36rem;
}

.footr-top2 {
  margin-top: -8.3rem;
  margin-right: 2rem;
}

.three {
  margin-left: -15px;
}

.four {
  margin-left: -20px;
}

.footr-top4 {
  margin-top: -8.3rem;
}


.footr--list {
  margin-bottom: 1rem;
}



@media (max-width: 1400px) {
  .footr-col {
    width: 25%;
    margin-bottom: 30px;
  }
  
.footr-top4 {
  margin-top: 0rem;
}


.four {
  margin-left: 0px;
}
}



@media (max-width: 820px) {
  .footr-col {
    width: 52%;
    margin-bottom: 30px;
  }
}


@media (max-width: 1000px) {
  .footr-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .footr-line {
    background-color: #dfdfdf;
    margin-left:auto;
    margin-right: 30px;
    margin-top: 4px;
    max-width: 100%;
  }

  
.footr-top2 {
  margin-top: -8.3rem;
  margin-right: 2rem;
}

  
.footr-top4 {
  margin-top: 0rem;
}

  
.footr-top2{
  margin-top: 0rem;
}

  
.footr-top3{
  margin-top: -12.5rem;
}


.three {
  margin-left: 0px;
}

}









@media (max-width: 480px) {
  .footr-line {
    background-color: #dfdfdf;
    margin-left:auto;
    margin-right: 30px;
    margin-top: 4px;
    max-width: 100%;
  }

  
.cont {
  padding-left: 24px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  
}
  
}



.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-link-logo {
  display: flex;
  padding-top: 1rem;
  margin-left: -4.7rem;
  padding-left: 24px;
}



/* Social Icons */
.social-icon-link {
  color: #000000;
  font-size: 20px;
}

.social-media {
  max-width: 1200px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1200px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.social-logo {
  color: #000000;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #000000;
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }


  .footer-link-wrapper2 {
    flex-direction: column;
    margin-left: -11rem;
    
  }
  

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .footer-link-logo {
    position: absolute;
    margin-top: -65px;
  }
}

@media screen and (max-width: 1000px) {
  .cont {
    padding-left: 24px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
  }
}

@media screen and (max-width: 1400px) {
  .cont {
    padding-left: 24px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
  }
}

@media screen and (max-width: 1200px) {
  .cont {
    padding-left: 24px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
  }
}






