.btn-section {
  padding: 0px 0px;
  width: 100%;
}

.big-btn {
  background: #1a71ff !important;
  color: #ffffff;
  border: none;
  border-radius: 40px !important;
  padding: 0px 20px;
  height: 311px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.start-message {
  padding-top: 0px;
  max-width: 400px;
  font-size: 32px;
  font-style: bold;
  font-weight: 600;
  line-height: 40px;
  padding-left: 50px;
  color: #ffffff;

}

.app--download {
  display: flex;
  padding-top: 30px;
  margin-bottom: 25px;
  padding-left: 35px;
}

.download-last {
  padding-left: 16px;
  display: flex;
}

.clear-btn2 {
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  height: 48px;
  font-size: 16px;
  width: 186px;
  font-weight: 500;
  line-height: 24px;
  padding: 10.5px 0px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-right: 10px;
}

.clear-btn2:hover {
  background: #f7e2e2;
}

.clear-btn1:hover {
  background: rgb(15, 10, 10);
}

.clear-btn1 {
  background: #000000;
  border-radius: 8px;
  display: flex;
  height: 48px;
  font-size: 16px;
  width: 186px;
  font-weight: 500;
  line-height: 24px;
  padding: 10.5px 0px;
  align-items: center;
  justify-content: center;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: -16px;
}

.apps-img {
  display: flex;
  padding-top: 53px;
  margin-top: 0px;
  padding-left: 135px;
  display: flex;
}

.learn-more2 {
  color: #1a71ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none !important;
}

.learn-more2:hover {
  color: #1a71ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none !important;
}

.learn-more1 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none !important;
}

.learn-more1:hover {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none !important;
}

.btnblack {
  background-color: #000000;
  border: none;
  display: flex;
  height: 40px;
  max-width: 100%;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.btnblue {
  background-color: #1a71ff;
  border: none;
  display: flex;
  max-width: 270px;
  height: 40px;
  align-items: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #000000;
  font-size: 12px;
  text-decoration: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 48%;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .app--download {
    display: flex;
    padding-top: 0rem;
    margin-left: -45px;
  }


  .column {
    float: left;
    width: 100%;
    padding: 15px;
  }
  
  .start-message {
    max-width: 100%;
    margin-top: 1.4rem;
    padding-left: 0px;
    font-style: bold;
    font-weight: 500;
    color: #ffffff;
    align-items: center;
    text-align: center;

  }
  
  .apps-img {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .start-message {
    max-width: 100% !important;
    padding-left: 0px;
    font-size: 18px;
    font-style: bold;
    font-weight: 500;
    line-height: 20px;
    margin-top: 2rem !important;
    text-align: center !important;
    color: #ffffff;
    align-items: center !important;
  }

  
  .column {
    float: left;
    width: 100%;
    padding: 15px;
  }
  

  .learn-more2 {
    color: #1a71ff;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-decoration: none !important;
  }

  .app--download {
    margin-top: -9rem;
    align-items: center;
    text-align: center;
    margin-left: -45px;
  }

  .learn-more1 {
    color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  }

  .clear-btn1 {
    background: #000000;
    border-radius: 8px;
    display: flex;
    height: 48px;
    width: 150px;
    font-weight: 500;
    line-height: 24px;
    padding: 10.5px 0px;
    align-items: center;
    justify-content: center;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 1px;
    margin-top: -2rem;
  }

  .clear-btn2 {
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    height: 48px;
    font-size: 16px;
    width: 150px;
    font-weight: 500;
    line-height: 24px;
    padding: 10.5px 0px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-right: 10px;
    margin-top: -2rem;
  }

  .big-btn {
    background: #1a71ff !important;
    color: #ffffff;
    border: none;
    border-radius: 16px !important;
    padding: 0px 24px;
    height: 186px;
  }

  .btn-section {
    padding: 0px 0px;
    margin-bottom: -5rem;
    margin-top: -8rem;
  }

  .download-last {
    padding-left: 0px;
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .apps-img {
    display: flex;
    padding-top: 53px;
    margin-top: -0px;
    padding-left: 125px;
    padding-right: 14px;
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .apps-img {
    display: flex;
    padding-top: 53px;
    margin-top: -0px;
    padding-left: 45px;
    padding-right: 14px;
    display: flex;
  }
}

@media screen and (max-width: 996px) {
  .apps-img {
    display: none !important;
  }

  .app--download {
    display: flex;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 45px;
  }

  .start-message {
    max-width: 100%;
    margin-top: 5rem;
    padding-left: 0px;
    font-style: bold;
    font-weight: 500;
    color: #ffffff;
    align-items: center;
    text-align: center;

  }

  .column {
    float: left;
    width: 100%;
    padding: 15px;
  }

}
