.princing-top {
    height: 393px;
    width: 100%;
    background-color: #1a71ff;
  }
  
  .no-hidden-charges {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    padding: auto;
    line-height: 24px;
    color: #ffffff;
    padding-top: 100px;
  }
  
  .low-cost {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    padding: auto;
    font-style: bold;
    line-height: 56px;
    color: #ffffff;
    padding-top: 25px;
    flex-direction: column;
  }
  .businesses {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    padding: auto;
    line-height: 24px;
    color: #ffffff;
    flex-direction: column;
    margin-top: 20px;
  }
  
  
  .pricing-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 50px;

  }
  
.card {
  box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
  border-radius: 8px;
}

  .Price-model {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  .first-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .first-card {
    height: 56px;
    background: #f0f6ff;
    border-radius: 8px;
    border: none;
    box-shadow: none;
  }
  
  .second-card {
    height: 56px;
    background: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: none;

  }
  
  .Below-price {
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: #000000;
    margin-left: 120px;
    padding-top: 20px;
  }
  
  .first-amount {
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: #000000;
    margin-left: 36rem;
    display: flex;
    align-items: center;
  
    margin-top: -20px;
  }
  
  @media screen and (max-width: 768px) {
    .Below-price {
      margin-left: 35px;
    }
    .first-amount {
      display: flex;
      margin-left: 20rem;
    }
  }
  

  @media screen and (max-width: 480px) {
      
  
  .low-cost {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    padding: auto;
    font-style: bold;
    line-height: 35.25px;
    color: #ffffff;
    padding-top: 25px;
    flex-direction: column;
  }
  .businesses {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 35.25px;
    font-weight: 700;
    padding: auto;
    line-height: 24px;
    color: #ffffff;
    flex-direction: column;
    margin-top: 10px;
  }

  .pricing-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 58px;
    padding: 0 24px;
  }

  .first-amount {
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: #000000;
    margin-left: 12rem;
    display: flex;
    align-items: center;
    margin-top: -16.5px;
  }

  .Below-price {
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: #000000;
    margin-left: 15px;
    padding-top: 20px;
  }


  .first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }  
    
  }